doctype html 
html
    head 
        title= title
        link(rel='stylesheet', href='css/style.css') 
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        script(src='js/script.js')


    body
        h1= tour
        h2= user.toUpperCase()
        p This is just some text
